 R created files
*.Rproj
*.Rproj.user
*.Rhistory
*.Ruserdata
*.history
*.RData

# Image/output files unless otherwise specified
*.png
*.docx
*.doc
*.jpg
*.gif

# Misc Knit Files
*.aux
*.gz
*.log
*.rdx
*.rdb
*.knit.md
*cache
*.results
# Other
*.httr-oauth
*.DS_Store

# MTurk credentials and data
auth.json
my-own-auth.json
mturk/
mturk-and-gmail.txt

# Specific file keep
!README.md
!/Gong_et_al_2017.pdf
.Rproj.user
!age_grp_main_pwr_80.png
!age_grp_main_pwr_90.png
!age_grp_main_pwr_95.png
!t_test_pwr_80.png
!t_test_pwr_90.png
!t_test_pwr_95.png
!gong_et_al_demog.png
!gong_et_al_med_amnts.png
!gong_et_al_vk.png
!AUC_plots_simulated_data.png

# SPSS data files
*.sav